html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    padding-left: 15px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #0070C0;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #0070C0;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #201E50;
}

.teamForm {
    border: 2px solid #00B0F0;
    height: 35px;
    margin-top:0px;
    padding-top:10px;
    background-color: #0070C0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.teamForm label {
    display: inline-block;
    width: 75px;
    margin-left: 25px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.teamForm input[type=text] {
    float:left;
}

.makeTeamSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #0070C0;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeTeamSubmit:link, .makeTeamSubmit:visited, .makeTeamSubmit:hover, .makeTeamSubmit:active {
    color: white;
}

.makeTeamSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #00B0F0;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #0070C0;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #00B0F0;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #0070C0;
}

#teamMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 200px;
    overflow: visible;
}

#teamMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#team {
    z-index: 225;
    height: 450px;
    width: 450px;
}

#teams {
    width: 40%;
    min-width: 400px;
    border: 2px solid #0070C0;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.team {
    display: grid;
    color: white;
    grid-template-columns: 10% 35% 15% 40%;
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #0070C0;
    border-radius: 4px;
    background-color: #0070C0;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.team:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.teamFace {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
}

h3.emptyTeam {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.teamName {
    text-align: left;
    max-width: 300px;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 15px;
}

h3.teamSize {
    text-align: left;
    max-width: 100px;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 15px;
}

h3.teamLeader {
    text-align: left;
    max-width: 300px;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 15px;
}

.team:first-child {
    margin-top: 10px;
}

.team:last-child {
    margin-bottom:10px;
}